<html>
  <head>
    <link rel="icon" href="http://www.iconarchive.com/download/i99792/designbolts/free-multimedia/News-Mic-iPhone.ico">
       <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title> NYT Unlimited </title>
  </head>

<style>
  body{
    background-image: url('http://cdn.wallpapersafari.com/0/21/d9evBx.jpg');
  }

    input{
       border:2px solid #2ba991;
       border-radius: 50px;
    }

</style>


  <body>

<center>
<h1>
 NYT Unlimited
</h1>

      <form method="POST">
<div id="box">

  <br>
  <input type="text" size="60" name="news1" id="news1"/>
  <br>
  <br>

  <input type="text" size="60" name="news2" id="news2"/>
  <br>
  <br>

  <input type="text" size="60" name="news3" id="news3"/>
  <br>
  <br>

  <input type="text" size="60" name="news4" id="news4"/>
  <br>
  <br>

  <input type="text" size="60" name="news5" id="news5"/>
  <br>
  <br>

  <input type="text" size="60" name="news6" id="news6"/>
  <br>
  <br>

  <input type="text" size="60" name="news7" id="news7"/>
  <br>
  <br>

  <input type="text" size="60" name="news8" id="news8"/>
  <br>
  <br>

  <input type="text" size="60" name="news9" id="news9"/>
  <br>
  <br>

  <input type="text" size="60" name="news10" id="news10"/>
  <br>
  <br>

  <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">
</div>
    </form>

  </center>

  </body>

</html>
