<html>
  <head>
    <title> NY Times Unlimited </title>
  </head>

  <body>

<center>
    <form>

      <form role="form" action="" method="POST">


<input type="text" name="news1" id="news1"/>
<br>
<br>

<input type="text" name="news2" id="news2"/>
<br>
<br>
<input type="text" name="news3" id="news3"/>
<br>
<br>
<input type="text" name="news4" id="news4"/>
<br>
<br>
<input type="text" name="news5" id="news5"/>
<br>
<br>
<input type="text" name="news6" id="news6"/>
<br>
<br>

<input type="text" name="news7" id="news7"/>
<br>
<br>
<input type="text" name="news8" id="news8"/>
<br>
<br>
<input type="text" name="news9" id="news9"/>
<br>
<br>
<input type="text" name="news10" id="news10"/>

<input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">
</form>



    </form>
</center>
  </body>

</html>
